.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/*
.settings/
.vscode/
.test/
vendor/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
**/.DS_Store
main
output/
manifest/output/
manifest/config/config.yaml
temp/
vender/
log/
logs/
upload/
node_modules/
packed/data.go
storage/*
*.pub

zoneinfo.zip
.claude/
